<div class="contact" style="text-align:center;">
    <h4>Contact Us</h4>
    <a href="mailto:sales@algoworks.com"><h6 style="color: white;">sales@algoworks.com</h6></a>
    <section id="features">
      <div class="container2">
        <i class="fa-brands fa-facebook fa-2xl icon"></i>
        <i class="fa-brands fa-twitter fa-2xl icon"></i>
        <i class="fa-brands fa-instagram fa-2xl icon"></i>
      </div>  
      </section>
  </div>
</body>
</html>