<%-include('partials/header')-%>
<div class="result">
    <div class="row">  
        <div class="filter col-lg-2">
            <u><h2 style="padding: 0 0 20px 20px;">Filters</h2></u>
            <h5 style="padding: 0 0 5px 20px;">Region</h5>
            <div class="checks">
            <input type="checkbox">
            <label>Delhi</label>
            <input type="checkbox">
            <label>Ghaziabad</label>
            <br>
            <input type="checkbox">
            <label>Noida</label>
            <input type="checkbox">
            <label>Rest of NCR</label>
            </div>
            <h5 style="padding: 10px 0 5px 20px;">Gender</h5>
            <div class="checks">
                <input type="checkbox">
                <label>Male</label>
                <input type="checkbox">
                <label>Female</label>
            </div>
            <h5 style="padding: 10px 0 5px 20px;">Fees</h5>
            <div class="checks">
                <input type="checkbox">
                <label>1-2 Lakh</label>
                <input type="checkbox">
                <label>2-3 Lakh</label>
                <br>
                <input type="checkbox">
                <label>3-4 Lakh</label>
                <input type="checkbox">
                <label>< 5 Lakh</label>
            </div>
            <h5 style="padding: 10px 0 5px 20px;">Type</h5>
            <div class="checks">
                <input type="checkbox">
                <label>Public/Governmet</label>
                <br>
                <input type="checkbox"> 
                <label>Private</label>
                <br>
                <input type="checkbox">
                <label>Governmet aided</label>
            </div>
            <div style="padding: 10px 0 0 20px;">
            <a class="btn btn-primary" href="#" role="button">Submit</a>
            </div>      
        </div>
        <div class="collegelist col-lg-6">
           <h1>COLLEGES ACCEPTING</h1>
           <ul type="none">
            <% if(colleges.length===0) { %>
                <h4>Sorry no college is accepting</h4>
              <% } else { %>  
            <% colleges.forEach(function(college){ %>
                <li><h2><%=college.name%></h2></li>
           <% }) }%>
            
           </ul>
        </div>
    </div>
</div>
    <%-include('partials/footer')-%>
